:root {
  --light-white-color: #e8e7e7;
  --violet-color: #5b45b9;
  --orange-color: #ff851b;
  --light-red-color: #ef5350;
  --gray-color: #707070;
  --green-color: #2ecc40;
  --cyan-color: #c7bcf8;
  --light-gray: #eeeeee;
}

/* Rest-css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Todos */
.todos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todos-container .todos {
  width: 40rem;
  height: auto;
}
