:root {
  --light-white-color: #e8e7e7;
  --violet-color: #5b45b9;
  --orange-color: #ff851b;
  --light-red-color: #ef5350;
  --gray-color: #707070;
  --green-color: #2ecc40;
  --cyan-color: #c7bcf8;
  --light-gray: #eeeeee;
}

/* Rest-css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Todos */
.todos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.item1 {
  grid-area: "header";
}
.item2 {
  grid-area: "content";
}
.item3 {
  grid-area: "edit";
}
.item4 {
  grid-area: "cancel";
}
.item5 {
  grid-area: "content";
}
.item6 {
  grid-area: "edit";
}
.item7 {
  grid-area: "cancel";
}
.item8 {
  grid-area: "content";
}
.item9 {
  grid-area: "edit";
}
.item10 {
  grid-area: "cancel";
}
.item11 {
  grid-area: "content";
}
.item12 {
  grid-area: "edit";
}
.item13 {
  grid-area: "cancel";
}

.item14 {
  grid-area: "content";
}
.item15 {
  grid-area: "edit";
}
.item16 {
  grid-area: "cancel";
}

.todos-container .todos {
  width: 40rem;
  height: auto;
}

.todos-container .todos {
  display: grid;

  grid-column-end: 16;
}
